{
	"root": true,
	"extends": "eslint:recommended",
	"parserOptions": {
		"ecmaVersion": 8,
		"sourceType": "module"
	},
	"env": {
		"node": true,
		"es6": true
	},
	"rules": {
		"no-console": "off"
	}
}
